################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/TestingInternship/v16/.suo
/.vs/UnitDemo/v16/.suo
/Madison/bin/Debug/net5.0
/Madison/obj
/.vs/UnitDemo/v16/TestStore/0
